<div class="refund">
  <div class="refund__group">
    <h1 class="refund__group__title">Политика возврата компании</h1>
    <h2 class="refund__group__notification">
      Обмен и возврат любого устройства возможен в течение 14 дней
    </h2>
    <div class="refund__group__card">
      <h2 class="refund__group__сard__title">
        Возврат товара надлежащего качества
      </h2>
      <p class="refund__group__card__text">
        Если покупатель приобрел товар ненадлежащего качества, он имеет право
        потребовать от продавца:
      </p>
      <p class="refund__group__card__text">
        бесплатное устранение всех дефектов или оплату ремонта, совершенного
        другим сервисным центром; снижение стоимости, соразмерное дефекту;
        <br />
        замены на аналогичное устройство, или товар другой модели, торговой
        марки с учетом разницы в цене. Стоит учитывать, что подобные требования
        покупателя в отношении дорогих и сложных товаров могут быть
        удовлетворены, если недостатки являются существенными.
      </p>
      <p class="refund__group__card__text">
        Покупатель может отказаться от ремонта, снижения стоимости и замены,
        вернув дефектный товар и получив обратно всю уплаченную за него сумму.
      </p>
      <p class="refund__group__card__text">
        Если дефекты товара стали причиной каких-либо убытков, покупатель имеет
        право требовать их возмещения. В этом случае для удовлетворения всех
        требований покупателя необходимо руководствоваться Законом РФ «О защите
        прав потребителей» и осуществлять возмещение в указанные
        законодательством сроки.
      </p>
      <p class="refund__group__card__text">
        Если продавец отказывается передавать товар, покупатель может
        потребовать возмещения убытков. Всю сумму стоимости товара продавец
        должен вернуть в течение 10 дней с момента получения письменных
        требований.
      </p>
      <p class="refund__group__card__text">
        Если у покупателя нет документов, подтверждающих факт покупки, это не
        лишает его права доказать совершение сделки купли-продажи любым законным
        способом.
      </p>
      <p class="refund__group__card__text">
        Если дефекты были обнаружены у технически сложного дорогостоящего
        товара, покупатель вправе отказаться от приобретения или потребовать
        замену на аналогичное устройство. При замене на устройство другой марки
        или модели, необходимо пересчитать стоимость. Подобную сделку можно
        осуществить в течение пятнадцати дней, но продавец обязан сначала
        получить товар для осуществления проверки и подтверждения наличия
        дефектов.
      </p>
      <p class="refund__group__card__text">
        Полный перечень технически сложных товаров можно найти в соответствующем
        Постановлении Правительства РФ №924.
      </p>
      <p class="refund__group__card__text">
        Если в комплекте с товаром был подарок, при осуществлении возврата
        дефектного товара, покупатель должен вернуть и его, сохранив в товарном
        виде.
      </p>
      <p class="refund__group__card__text">
        Все проверки проводятся в соответствии с законодательством, в указанные
        в Законе сроки, с оглядкой на требования покупателя и гарантийные
        обязательства продавца или производителя. Проводить проверку могут
        только специализированные аккредитованные сервисные центры. Без
        осуществления подобной проверки продавец не может подтвердить наличие
        дефекта, причины его возникновения, и обосновать требования клиента,
        поэтому не может отвечать за просрочку выполнения замены или возврата до
        того, как товар был ему передан.
      </p>
      <p class="refund__group__card__text">
        Если в результате проверки будет установлено, что причиной недостатков
        стало небрежное отношение к устройству со стороны покупателя, то он
        обязуется возместить расходы на транспортировку и проведение экспертизы.
      </p>
    </div>
    <div class="refund__group__card">
      <h2 class="refund__group__card__title">
        Возврат товара надлежащего качества
      </h2>
      <p class="refund__group__card__text">
        Вернуть товар надлежащего качества возможно при соблюдении некоторых
        условий: наличие документов, подтверждающих покупку. Если
        соответствующий документ отсутствует, покупатель может совершить
        возврат, доказав факт покупки любым другим способом.
      </p>
      <p class="refund__group__card__text">
        Если устройство имеет индивидуальные свойства, и предназначено для
        использования исключительно конкретным потребителем, покупатель не может
        осуществить возврат.
      </p>
      <p class="refund__group__card__text">
        Если покупатель отказывается от приобретения устройства, продавец обязан
        возместить всю сумму, которая была оплачена, за исключением транспортных
        расходов. Сроки рассмотрения в соответствии со статьей 22 - 10 дней
      </p>
      <p class="refund__group__card__text">
        Если к товару прилагался подарок, клиент обязуется вернуть его, при этом
        товарный вид и свойства должны быть сохранены.
      </p>
      <p class="refund__group__card__text">
        При оформлении возврата покупатель (или его представитель) и продавец
        подписывают документ, фиксирующий данную сделку и содержащий следующую
        информацию: <br />
        наименование продавца; <br />
        ФИО покупателя; <br />
        наименование товара; <br />
        дата совершения сделки; <br />
        сумма, которую продавец обязуется вернуть.
      </p>
    </div>
  </div>
</div>
