<div class="admission">
  <div class="tablet__pc">
    <img class="big_iphone" [src]="image" alt="big_iphone">
    <div>
      <div>
        <sup>Сообщить о поступленнии</sup>
        <h4 class="normal">{{ title }}</h4>
        <input type="text" placeholder="+7" />
      </div>
      <button (click)="openApplicaitonSend()">сообщить о поступлении</button>
    </div>
  </div>
  <div class="mobile">
    <sup>Сообщить о поступленнии</sup>
    <div class="image__text-mobile">
      <img class="big_iphone" [src]="image" alt="big_iphone">
      <p class="a">{{ title }}</p>
    </div>
    <input type="text" placeholder="+7" />
    <button (click)="openApplicaitonSend()">сообщить о поступлении</button>
  </div>
</div>