<div class="admission">
  <div class="tablet__pc">
    <img class="big_iphone" [src]="image" alt="big_iphone">
    <div>
      <form [formGroup]="admissionForm" (ngSubmit)="onSubmit()">
        <div>
          <sup>Сообщить о поступленнии</sup>
          <h4 class="normal">{{ title }}</h4>
          <input formControlName="telephone" type="text" placeholder="+7" />
        </div>
        <button>сообщить о поступлении</button>
      </form>
    </div>
  </div>
  <div class="mobile">
    <sup>Сообщить о поступленнии</sup>
    <div class="image__text-mobile">
      <img class="big_iphone" [src]="image" alt="big_iphone">
      <p class="a">{{ title }}</p>
    </div>
    <form [formGroup]="admissionForm" (ngSubmit)="onSubmit()">
      <input formControlName="telephone" type="text" placeholder="+7" />
      <button>сообщить о поступлении</button>
    </form>
  </div>
</div>