<div class="background">
  <div class="scroll-goods">
    <img
      class="left-arrow"
      src="../../../assets/main-page/left-arrow.svg"
      alt="left-arrow"
    />
    <div class="text">
      <img
        class="big-iphone"
        src="../../../assets/main-page/big_iphone.svg"
        alt="big_iphone"
      />
      <div class="text-info">
        <h2 class="title__info">
          iPh
          <div class="ellips"></div>
          ne 14
        </h2>
        <div class="price">
          <h4 class="price__title">от</h4>
          <h3 class="price__title">137 900 ₽</h3>
        </div>
        <button>подробнее</button>
      </div>
    </div>
    <img
      class="right-arrow"
      src="../../../assets/main-page/right-arrow.svg"
      alt="right-arrow"
    />
  </div>
</div>
