<scroll-goods></scroll-goods>
<div class="bottom-text">
  <h3>купить iPhone в Москве</h3>
  <p>Самое популярное</p>
</div>
<!-- <app-gadget-item></app-gadget-item> -->
<app-gadget-list></app-gadget-list>
<div class="main">
  <h4 class="normal">Новые модели Айфонов по выгодным ценам</h4>
  <sup class="new-iphone-text">
    Для тех, кто хочет приобрести новый телефон магазин Istoreapple.ru
    предлагает:<br />
    Низкие цены на все виды устройств, недорогие аксессуары;<br />
    Оригинальные подарки бренда;<br />
    Новая линейка смартфонов и проверенные старые модели; Лаконичный дизайн,
    большой выбор цветов и оттенков;<br />
    Все товары в каталоге есть в наличии и доступны для покупки в кредит и
    рассрочку; Быстрая доставка по Санкт-Петербургу и области;<br />
    Гарантия на все модели телефонов;<br />
    Все способы оплаты!<br />
    Товары, представленные на официальном сайте Istoreapple.ru, сертифицированы.
    Мы занимаемся продажей айфонов с 2013 года. Вы всегда можете прочитать
    отзывы о покупке наших клиентов, позвонить в магазин и получить консультацию
    по любой модели Apple.</sup>
  <div class="info">
    <img src="../../../assets/main-page/iphone_purple.svg" alt="iphone_purple" width="246px" height="419px" />
    <div class="info-text">
      <h5>iPhone 14 Pro Max</h5>
      <h6>по лучшей цене в Москве</h6>
      <button>подробнее</button>
    </div>
  </div>
  <h4 class="normal">Новые модели Айфонов по выгодным ценам</h4>
  <sup class="new-iphone-text">
    Для тех, кто хочет приобрести новый телефон магазин Istoreapple.ru
    предлагает:<br />
    Низкие цены на все виды устройств, недорогие аксессуары;<br />
    Оригинальные подарки бренда;<br />
    Новая линейка смартфонов и проверенные старые модели; Лаконичный дизайн,
    большой выбор цветов и оттенков;<br />
    Все товары в каталоге есть в наличии и доступны для покупки в кредит и
    рассрочку; Быстрая доставка по Санкт-Петербургу и области;<br />
    Гарантия на все модели телефонов;<br />
    Все способы оплаты!<br />
    Товары, представленные на официальном сайте Istoreapple.ru, сертифицированы.
    Мы занимаемся продажей айфонов с 2013 года. Вы всегда можете прочитать
    отзывы о покупке наших клиентов, позвонить в магазин и получить консультацию
    по любой модели Apple.</sup>
</div>
<benefits></benefits>
<distribution></distribution>