<scroll-goods></scroll-goods>
<div class="bottom-text">
  <h3>купить iPhone в Москве</h3>
</div>
<div class="main">
  <h4 class="normal">Новые модели Айфонов по выгодным ценам</h4>
  <sup class="new-iphone-text">
    Для тех, кто хочет приобрести новый телефон магазин Istoreapple.ru
    предлагает:<br />
    Низкие цены на все виды устройств, недорогие аксессуары;<br />
    Оригинальные подарки бренда;<br />
    Новая линейка смартфонов и проверенные старые модели; Лаконичный дизайн,
    большой выбор цветов и оттенков;<br />
    Все товары в каталоге есть в наличии и доступны для покупки в кредит и
    рассрочку; Быстрая доставка по Санкт-Петербургу и области;<br />
    Гарантия на все модели телефонов;<br />
    Все способы оплаты!<br />
    Товары, представленные на официальном сайте Istoreapple.ru, сертифицированы.
    Мы занимаемся продажей айфонов с 2013 года. Вы всегда можете прочитать
    отзывы о покупке наших клиентов, позвонить в магазин и получить консультацию
    по любой модели Apple.</sup
  >
  <div class="info">
    <img
      src="../../../assets/main-page/iphone_purple.svg"
      alt="iphone_purple"
      width="246px"
      height="419px"
    />
    <div class="info-text">
      <h5>iPhone 14 Pro Max</h5>
      <h6>по лучшей цене в Москве</h6>
      <button>подробнее</button>
    </div>
  </div>
  <h4 class="normal">Новые модели Айфонов по выгодным ценам</h4>
  <sup class="new-iphone-text">
    Для тех, кто хочет приобрести новый телефон магазин Istoreapple.ru
    предлагает:<br />
    Низкие цены на все виды устройств, недорогие аксессуары;<br />
    Оригинальные подарки бренда;<br />
    Новая линейка смартфонов и проверенные старые модели; Лаконичный дизайн,
    большой выбор цветов и оттенков;<br />
    Все товары в каталоге есть в наличии и доступны для покупки в кредит и
    рассрочку; Быстрая доставка по Санкт-Петербургу и области;<br />
    Гарантия на все модели телефонов;<br />
    Все способы оплаты!<br />
    Товары, представленные на официальном сайте Istoreapple.ru, сертифицированы.
    Мы занимаемся продажей айфонов с 2013 года. Вы всегда можете прочитать
    отзывы о покупке наших клиентов, позвонить в магазин и получить консультацию
    по любой модели Apple.</sup
  >
</div>
<benefits></benefits>
<div class="distribution">
  <img
    src="../../../assets/main-page/distribution_image.svg"
    alt="distribution_image"
  />
  <div class="text">
    <h3 class="normal">Подписка на рассылку акций!</h3>
    <h6 class="gray">
      Подпишитесь на рассылку, чтобы узнавать о всех акциях первым
    </h6>
    <form class="main-form">
      <h3 class="form-text">Скидка 10%</h3>
      <p>на первую покупку за подписку</p>
      <div class="form-info">
        <input type="text" placeholder="+ 7" />
        <button class="gray">подписаться</button>
      </div>
    </form>
    <form class="tablet-form">
      <div class="gradient">
        <p class="form-text">Скидка 10%</p>
        <sup>на первую покупку за подписку</sup>
      </div>
      <div class="form-info">
        <input type="text" placeholder="+ 7" />
        <button class="gray">подписаться</button>
      </div>
    </form>
  </div>
</div>
