.one-click{
    display: flex;
}
.big_iphone{
    width: 150px;
    height: 160px;
    margin-right: 24px;
}
input[type="text"] {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 246px;
    height: 56px;
    color: rgb(135, 135, 135);
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    outline: none;
    padding-left: 24px;
    margin: 24px 0 16px 0;
}
.crossed {
    text-decoration: line-through;
}
button {
    width: 246px;
}
.checkout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.callandwrite {
    display: flex;
}
.callandwrite > img {
    margin: 0 4px 0 4px;
}
