<div class="gadget">
  <div class="first-section">
    <div class="rating-stars">
      @for (_ of get5RatingArr(); track $index) {
      <img
        [src]="
          '/assets/gadget-item/star-' +
          ($index + 1 <= gadget.rating ? 'active' : 'inactive') +
          '.svg'
        "
        alt="rating"
      />
      }
    </div>
    <p class="reviews-count">({{ gadget.count_review }})</p>
    <img
      class="self-end"
      [src]="
        '/assets/gadget-item/heart-' +
        (gadget.isFavorite ? 'active' : 'inactive') +
        '.svg'
      "
      alt=""
    />
  </div>
  <p class="name">{{gadget.name}}</p>
  <img
    class="gadget-image"
    [src]="'http://localhost:1452/'+gadget.images[0]"
    alt="gadget-image"
    (click)="gadget.is_available && openGadget(gadget.id)"
  />
  @if (gadget.is_available) {
  <div class="second-section">
    <p><span class="isAvailable available"></span>Есть в наличии</p>
    <p>Гарантия {{ gadget.guarantee === 12 ? '1' : gadget.guarantee }} год</p>
  </div>
  @if (windowWidth > 900) {
  <div class="prices-section">
    <p [class]="gadget.discount_price ? 'old-price' : 'price'">
      {{ gadget.price | customCurrency }}
    </p>
    @if(gadget.discount_price){
    <p class="price">{{ gadget.discount_price | customCurrency }}</p>
    }
  </div>
  <button
    [class]="'add-to-cart ' + (gadget.isInCart ? 'in-cart' : 'not-in-cart')"
    (click)="openModalBasketAdd()"
  >
    <img
      class="gadget-is-in-cart image-size-24"
      [src]="
        '/assets/gadget-item/cart-' +
        (gadget.isInCart ? 'active' : 'inactive') +
        '.svg'
      "
      alt="cart"
    />
    {{ gadget.isInCart ? "в корзине" : "в корзину" }}
  </button>
  } @else {
  <div class="prices-section">
    @if (gadget.discount_price) {
    <p class="old-price">{{ gadget.price | customCurrency }}</p>
    }
    <button
      [class]="'add-to-cart ' + (gadget.isInCart ? 'in-cart' : 'not-in-cart')"
      (click)="openModalBasketAdd()"
    >
      <img
        class="gadget-is-in-cart"
        [src]="
          '/assets/gadget-item/cart-' +
          (gadget.isInCart ? 'active' : 'inactive') +
          '.svg'
        "
        alt="cart"
      />
      <span>{{ gadget.discount_price || gadget.price | customCurrency }}</span>
    </button>
  </div>
  }
  <div class="last-section">
    <p (click)="openModalPriceLower()">Хочу дешевле</p>
    <p (click)="openModalOneClick()">Купить в 1 клик</p>
  </div>
  } @else {
  <div class="preorder">
    <p><span class="isAvailable unavailable"></span>Ожидается поступление</p>
    <p>Мы можем сообщить вам, когда товар появится в наличии</p>
    <p (click)="openModalAdmission()">Сообщить о поступлении</p>
  </div>
  }
</div>
