footer {
  display: flex;
  justify-content: space-between;
  padding: 40px 140px 40px 140px;
  height: fit-content;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 40px 0 40px;
}
.first {
  width: 280px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tablet-data {
  display: flex;
  flex-direction: column;
}
.first-dates {
  display: flex;
  flex-direction: column;
}
.first-dates > sup {
  margin-bottom: 8px;
}
.small {
  color: rgb(183, 183, 183);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
}
.black {
  color: rgb(16, 14, 14);
}
.order-call {
  display: flex;
  align-items: center;
}
.order-call > p {
  margin-right: 8px;
}
.order-icons {
  display: flex;
}
.order-call-tablet {
  display: none;
}
.order-number-tablet {
  display: none;
}
.order-icons > img {
  margin-right: 8px;
}

@media (width < 1560px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  .first {
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: flex-start;
  }
  .tablet-data {
    margin: 0 0 0 24px;
  }
  .column {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 30px;
    word-wrap: break-word;
  }
  li {
    margin-left: 16px;
  }
  .call {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .order-call {
    display: none;
  }
  .order-call-tablet {
    display: flex;
  }
  .order-number-tablet {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  .order-number-tablet > sup {
    display: block;
    margin-top: 30px;
  }
  sup.normal {
    display: none;
  }
  .small,
  .order-icons {
    margin-top: 7px;
  }
}
@media (width < 980px) {
  .column.first {
    display: flex;
  }
  .column.call {
    display: flex;
  }
  .column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (width < 700px) {
  footer {
    padding: 0 20px 0 20px;
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .column.first{
    display: flex;
  }
  .column.call {
    /* width: 100%; */
    display: flex;
  }
}
