<footer>
  <div class="column first">
    <img
      src="../../../assets/header/apple.svg"
      alt="apple"
      width="39px"
      height="45px"
    />
    <div class="tablet-data">
      <div class="first-dates">
        <sup class="gray">© 2013-2022</sup>
        <sup class="gray">Продажа iPhone в МСК</sup>
      </div>
      <p class="small">
        *Сайт не является публичной оффертой. Вся информация, указанная на сайте
        носит информационный характер.
      </p>
    </div>
  </div>
  <ul class="column">
    <li (click)="scroll()"><a routerLink="/warranty">Гарантия</a></li>
    <li (click)="scroll()"><a routerLink="/refund">Политика возврата</a></li>
    <li (click)="scroll()"><a routerLink="/credit">Кредит</a></li>
    <li (click)="scroll()"><a routerLink="/delivery">Доставка и оплата</a></li>
    <li (click)="scroll()"><a routerLink="review">Отзывы</a></li>
    <li (click)="scroll()"><a routerLink="/contacts">Контакты</a></li>
    <li (click)="scroll()"><a routerLink="">Политика конфеденциальности</a></li>
  </ul>
  <ul class="column">
    <li><a (click)="navigateToCategory(2)">iPhone</a></li>
    <li><a (click)="navigateToCategory(4)">iPad</a></li>
    <li><a (click)="navigateToCategory(3)">Macbook и iMac</a></li>
    <li><a (click)="navigateToCategory(5)">Watch</a></li>
    <li><a (click)="navigateToCategory(1)">Аксессуары</a></li>
    <li><a (click)="navigateToDiscounts()" >Акции</a></li>
  </ul>
  <div class="column call">
    <div class="order-tablet">
      <div class="order-tablet-tel">
        <h3 class="form-text black">+7 812 704 86 97</h3>
        <p class="small">
          Бесплатная консультация<br />
          С 10:00 до 21:00, без выходных
        </p>
      </div>
      <div class="order-number-tablet">
        <p class="order" (click)="openModalCallBack()">Заказать звонок</p>
        <address class="normal">Москва, ул Барклая 8</address>
        <address class="normal">Москва, ул Барклая 8</address>
      </div>
    </div>

    <div class="order-call">
      <p class="order" (click)="openModalCallBack()">Заказать звонок</p>
      <div class="order-icons">
        <img
          src="../../../assets/footer/whatsapp.svg"
          alt="whatsapp"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/telegram.svg"
          alt="telegram"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/vk.svg"
          alt="vk"
          width="32px"
          heigth="32px"
        />
      </div>
    </div>

    <div class="order-call-tablet">
      <div class="order-icons">
        <img
          src="../../../assets/footer/whatsapp.svg"
          alt="whatsapp"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/telegram.svg"
          alt="telegram"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/vk.svg"
          alt="vk"
          width="32px"
          heigth="32px"
        />
      </div>
    </div>
  </div>
</footer>
