<footer>
  <div class="column first">
    <img
      src="../../../assets/header/apple.svg"
      alt="apple"
      width="39px"
      height="45px"
    />
    <div class="tablet-data">
      <div class="first-dates">
        <sup class="gray">© 2013-2022</sup>
        <sup class="gray">Продажа iPhone в МСК</sup>
      </div>
      <p class="small">
        *Сайт не является публичной оффертой. Вся информация, указанная на сайте
        носит информационный характер.
      </p>
    </div>
  </div>
  <ul class="column">
    <li>Гарантия</li>
    <li>Политика возврата</li>
    <li>Кредит</li>
    <li>Доставка и оплата</li>
    <li>Отзывы</li>
    <li>Контакты</li>
    <li class="column__text">Политика конфеденциальности</li>
  </ul>
  <ul class="column">
    <li>iPhone</li>
    <li>iPad</li>
    <li>Macbook и iMac</li>
    <li>Watch</li>
    <li>Аксессуары</li>
    <li>Акции</li>
  </ul>
  <div class="column call">
    <div class="order-tablet">
      <div class="order-tablet-tel">
        <h3 class="form-text black">+7 812 704 86 97</h3>
        <p class="small">
          Бесплатная консультация<br />
          С 10:00 до 21:00, без выходных
        </p>
      </div>
      <div class="order-number-tablet">
        <p class="order" (click)="openModalCallBack()">Заказать звонок</p>
        <address class="normal">Москва, ул Барклая 8</address>
        <address class="normal">Москва, ул Барклая 8</address>
      </div>
    </div>

    <div class="order-call">
      <p class="order" (click)="openModalCallBack()">Заказать звонок</p>
      <div class="order-icons">
        <img
          src="../../../assets/footer/whatsapp.svg"
          alt="whatsapp"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/telegram.svg"
          alt="telegram"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/vk.svg"
          alt="vk"
          width="32px"
          heigth="32px"
        />
      </div>
    </div>

    <div class="order-call-tablet">
      <div class="order-icons">
        <img
          src="../../../assets/footer/whatsapp.svg"
          alt="whatsapp"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/telegram.svg"
          alt="telegram"
          width="32px"
          heigth="32px"
        />
        <img
          src="../../../assets/footer/vk.svg"
          alt="vk"
          width="32px"
          heigth="32px"
        />
      </div>
    </div>
  </div>
</footer>
