<div class="review">
  <div class="review__cards">
    <div class="review__head">
      <h2 class="review__head-title">Отзывы о покупках</h2>
    </div>
    <div class="review__comments">
      <div class="review__comments-item">
        <!-- @for (review of reviews; track $index) {
          <h3 class="review__comments-title">{{ name }}</h3>
        <div class="review__comments-stars"></div>
        <p class="review__comments-about">Отзыв об iPhone 14 Pro Max 256GB</p>
        <p class="review__comments-text">
          Понравилось всё. Ребята в магазине работают шустро, за пару минут
          оформили, и уже через 3 часа телефон был у меня на руках. При
          получении курьер помог проверить телефон, и поклеить защитное стекло,
          так же покупал акционный набор аксессуаров, и их качество, как и
          телефона оказалось на высоте. Всё работает, всё быстро и доступно,
          5/5.
        } -->
        <!-- <h3 class="review__comments-title">Эдуард</h3>
        <div class="review__comments-stars"></div>
        <p class="review__comments-about">Отзыв об iPhone 14 Pro Max 256GB</p>
        <p class="review__comments-text">
          Понравилось всё. Ребята в магазине работают шустро, за пару минут
          оформили, и уже через 3 часа телефон был у меня на руках. При
          получении курьер помог проверить телефон, и поклеить защитное стекло,
          так же покупал акционный набор аксессуаров, и их качество, как и
          телефона оказалось на высоте. Всё работает, всё быстро и доступно,
          5/5.
        </p> -->
      </div>
      <!-- pagination -->
    </div>
  </div>
  <div class="review__recommends">
    <div>
      <div class="review__recommends-head">
        <img
          class="review__recommends-img"
          src="../../../assets/review-page/circle-heart.svg"
        />
        <div>
          <h3 class="review__recommends-title">Люди рекомендуют</h3>
          <p class="review__recommends-text">
            Всем это понравилось. <br />
            Присмотритесь и вы
          </p>
        </div>
      </div>

      <div class="">
        <!-- телефон -->
      </div>
    </div>
  </div>
</div>
