<div class="review">
  <div class="review__cards">
    <div class="review__head">
      <h2 class="review__head-title">Отзывы о покупках</h2>
    </div>
    <div class="review__comments">
      <div>
        <div class="review__comments-item">
          @for (review of reviews; track $index) {
          <div class="review__comments-item-f">
            <h3 class="review__comments-title">{{ review.name }}</h3>
            <div class="review__comments-stars">
              @for (_ of get5RatingArr(); track $index) {
              <img [src]="
                  '/assets/gadget-item/star-' +
                  ($index + 1 ? 'active' : 'inactive') +
                  '.svg'
                " alt="rating" />
              }
            </div>
          </div>
          <p class="review__comments-about">{{ review.model }}</p>
          <p class="review__comments-text">
            {{ review.text }}
          </p>
          }
        </div>
      </div>
      <!-- pagination -->
    </div>
  </div>
  <div class="review__recommends">
    <div>
      <div class="review__recommends-head">
        <img class="review__recommends-img" src="../../../assets/review-page/circle-heart.svg" />
        <div>
          <h3 class="review__recommends-title">Люди рекомендуют</h3>
          <p class="review__recommends-text">
            Всем это понравилось. <br />
            Присмотритесь и вы
          </p>
        </div>
      </div>
      <div class="popularProducts">
        <img class="arrow left" src="../../../assets/review-page/arrow_left.svg" (click)="scrollLeft('desktop')" />
        @for (product of popularProducts; track $index){ @if ( $index ===
        currentId) {
        <div>
          <div class="popularProducts__card">
            <div class="popularProducts__rating-stars">
              <div class="rating-stars">
                @for (_ of get5RatingArr(); track $index) {
                <img [src]="
                    '/assets/gadget-item/star-' +
                    ($index + 1 <= product.rating ? 'active' : 'inactive') +
                    '.svg'
                  " alt="rating" />
                }
              </div>
              <p class="popularProducts__review">{{ product.count_review }} отзывов</p>
            </div>
            <h4 class="popularProducts__name">{{ product.name }}</h4>
            <img class="popularProducts__card-img" [src]="
                'https://angular-final-project-backend.onrender.com/' +
                product.images[0]
              " alt="{{ product.name }}" />
            <p class="popularProducts__price">
              {{ product.price | customCurrency }}
            </p>
            <button class="popularProducts__button" (click)="openGadget(product)">
              подробнее
            </button>
          </div>
          <mat-progress-bar mode="determinate" value="{{ getProgressPercentage('desktop') }}"></mat-progress-bar>
        </div>
        }
        }
        <img class="arrow rigth" src="../../../assets/review-page/arrow_right.svg" (click)="scrollRight('desktop')" />
      </div>


      <div class="popularProducts-tablet">
        <div class="popularProducts-tablet-content">
          <img class="arrow" src="../../../assets/review-page/arrow_left.svg" (click)="scrollLeft('tablet')" />
          <div class="popularProducts__cards">
            @for (product of popularProducts; track $index){

            @if ($index === currentIdTablet[0]) {
            <div class="popularProducts__card">
              <div class="popularProducts__rating-stars">
                <div class="rating-stars">
                  @for (_ of get5RatingArr(); track $index) {
                  <img [src]="
                    '/assets/gadget-item/star-' +
                    ($index + 1 <= product.rating ? 'active' : 'inactive') +
                    '.svg'
                  " alt="rating" />
                  }
                </div>
                <p class="popularProducts__review">{{ product.count_review }} отзывов</p>
              </div>
              <h4 class="popularProducts__name">{{ product.name }}</h4>
              <img class="popularProducts__card-img" [src]="
                'https://angular-final-project-backend.onrender.com/' +
                product.images[0]
              " alt="{{ product.name }}" />
              <p class="popularProducts__price">
                {{ product.price | customCurrency }}
              </p>
              <button class="popularProducts__button" (click)="openGadget(product)">
                подробнее
              </button>
            </div>
            }
            @if ($index === currentIdTablet[1]) {
            <div class="popularProducts__card">
              <div class="popularProducts__rating-stars">
                <div class="rating-stars">
                  @for (_ of get5RatingArr(); track $index) {
                  <img [src]="
                    '/assets/gadget-item/star-' +
                    ($index + 1 <= product.rating ? 'active' : 'inactive') +
                    '.svg'
                  " alt="rating" />
                  }
                </div>
                <p class="popularProducts__review">{{ product.count_review }} отзывов</p>
              </div>
              <h4 class="popularProducts__name">{{ product.name }}</h4>
              <img class="popularProducts__card-img" [src]="
                'https://angular-final-project-backend.onrender.com/' +
                product.images[0]
              " alt="{{ product.name }}" />
              <p class="popularProducts__price">
                {{ product.price | customCurrency }}
              </p>
              <button class="popularProducts__button" (click)="openGadget(product)">
                подробнее
              </button>
            </div>
            }
            }
          </div>
          <img class="arrow" src="../../../assets/review-page/arrow_right.svg" (click)="scrollRight('tablet')" />
        </div>
        <mat-progress-bar mode="determinate" value="{{ getProgressPercentage('tablet') }}"></mat-progress-bar>
      </div>
    </div>
  </div>
</div>