<div class="review">
  <div class="review__cards">
    <div class="review__head">
      <h2 class="review__head-title">Отзывы о покупках</h2>
    </div>
    <div class="review__comments">
      <div>
        <div class="review__comments-item">
          @for (review of reviews; track $index) {
          <div class="review__comments-item-f">
            <h3 class="review__comments-title">{{ review.name }}</h3>
            <div class="review__comments-stars">
              @for (_ of get5RatingArr(); track $index) {
              <img
                [src]="
                  '/assets/gadget-item/star-' +
                  ($index + 1 ? 'active' : 'inactive') +
                  '.svg'
                "
                alt="rating"
              />
              }
            </div>
          </div>
          <p class="review__comments-about">{{ review.model }}</p>
          <p class="review__comments-text">
            {{ review.text }}
          </p>
          }
        </div>
      </div>
      <!-- pagination -->
    </div>
  </div>
  <div class="review__recommends">
    <div>
      <div class="review__recommends-head">
        <img
          class="review__recommends-img"
          src="../../../assets/review-page/circle-heart.svg"
        />
        <div>
          <h3 class="review__recommends-title">Люди рекомендуют</h3>
          <p class="review__recommends-text">
            Всем это понравилось. <br />
            Присмотритесь и вы
          </p>
        </div>
      </div>

      <div class="">
        <!-- телефон -->
      </div>
    </div>
  </div>
</div>
