.header-button {
  width: 215px !important;
  min-width: 215px;
}

@import "../../../variables.scss";

.basket-length {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 32px;
  border-radius: 32px;
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgb(70, 198, 9);
}

.comp-header {
  max-width: 1200px;
  margin: 0 auto;
}

.header__links {
  display: grid;
  grid-template-columns: 1fr 180px;
  height: 94px;
}

.header__searh {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  gap: 10px;
}

.header__devices {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  img{
    cursor: pointer;
  }
}

.tablet-header {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
  justify-content: center;
}

.links > a {
  font-weight: 400;
  line-height: 21.48px;
  font-size: 18px;
}

.promotion {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 2px 8px;
  background: $fire-bg;
}

.telephone {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tel-number__number {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
}

.tel-number {
  display: flex;
}

.tel-icon {
  display: none;
}

.tel-number > p {
  margin-left: 8px;
}

.tel-number__text {
  color: $bg-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: right;
  cursor: pointer;
}

.catalog-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  padding: 12px;
  border-radius: 16px;
  background: $bg-color;
  color: $button-title;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  user-select: none;

  &.catalog-button-open {
    border-radius: 16px 16px 0 0;
    background-color: $bg-indigo;
  }
}

input[type="search"] {
  background-image: url("../../../assets/header/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  width: 100%;
  padding: 16px 56px 16px 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: $accent-list;
  outline: none;
  border: none;
  border: 1px solid $accent-list;
  border-radius: 8px;
  margin-left: 15px;
}

.functions {
  display: flex;
  justify-content: center;
}

.functions > img {
  margin: 12px;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  background-color: $buy-bg;
  border: none;
  padding: 0px 16px 0px 16px;
  width: 230px;
  height: 56px;

  p {
    color: $button-title;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }
}

.card {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card:hover > p {
  color: $hover-color;
}

.card:hover > img {
  filter: invert(41%) sepia(86%) saturate(5961%) hue-rotate(214deg) brightness(97%) contrast(98%);
}

.card > p {
  padding-left: 8px;
}

.header-open {
  display: none;
}

.headers {
  border-radius: 0 0 24px 24px;
}

@media screen and (max-width: 1440px) {
  .comp-header {
    display: none;
  }

  .tablet-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 24px;
    gap: 32px;

    & > img:first-of-type {
      width: 32px;
      height: 32px;
    }
  }

  .search-input {
    width: 252px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  input[type="search"] {
    // background-image: url("../../../assets/header/search-icon-black.svg");
    color: $text-color;
    background-image: none;
    border: none;
    width: 100%;
    max-width: 210px;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .header-open {
    display: flex;
    flex-direction: column;
    padding: 10px 140px 10px 140px;
    border-radius: 0px 0px 24px 24px;
    background-color: white;
    position: absolute;
    width: 100%;
  }

  .tel-number__number {
    font-size: 16px;
  }

  .telephone {
    width: 155px;
    margin-left: auto;
  }

  p.a {
    margin-bottom: 10px;
  }

  .open-links {
    display: flex;
    flex-direction: column;
  }

  .links {
    margin: 5px 0 15px 0;
    justify-content: flex-start;
  }

  .links > a {
    margin-left: 0;
  }

  .header-part {
    height: fit-content;
  }

  .open-header-link {
    margin-left: 10px;
  }

  .header-open {
    padding: 0 20px 0 20px;
    z-index: 2;
  }
}

@media screen and (max-width: 768px) {
  .header-open {
    height: 90%;
  }

  .telephone {
    display: none;
  }

  .tel-icon {
    display: flex;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  p.a {
    margin: 8px 0 16px 0;
  }

  .links > a {
    margin: 8px 0 8px 0;
  }

  .whatsapp {
    margin-left: 0;
  }
}
