@import "../../../variables.scss";

.comp-header {
  padding: 0 120px 0 120px;
  width: 1440px;
  margin: 0 auto;
}

.apple-logo {
  margin: -8px 0 0 15px;
}

.header-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 94px;
}

.tablet-header {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  gap: 21px;
}

.links > a {
  color: black;
  font-weight: 400;
  line-height: 21.48px;
  font-size: 18px;
}

// .links > a:not(:last-child){
//   margin-right: 23px;
// }

.promotion {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 3px;
  background: rgb(253, 239, 191);
}

.telephone {
  display: flex;
  justify-content: right;
  flex-direction: column;
}

.tel-number__number {
  font-size: 20px;
  font-weight: 400;
  line-height: 23.87px;
}

.tel-number {
  display: flex;
  margin: 13px -18px 0 0px;
}

.tel-icon {
  display: none;
}

.tel-number > p {
  margin-left: 8px;
}

.tel-number__text {
  color: $bg-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: right;
}

.catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 25%;
  // padding: 16px 13px 16px 13px;
  padding: 12px;
  border-radius: 16px;
  background: rgb(0, 113, 228);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

input[type="search"] {
  background-image: url("../../../assets/header/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 20px;
  width: 45vw;
  padding: 16px 56px 16px 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: rgb(183, 183, 183);
  outline: none;
  border: none;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 8px;
  margin-left: 40px;
}

.functions {
  display: flex;
  justify-content: center;
}

.functions > img {
  margin: 12px;
}

.button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  background: $buy-bg;
  border: none;
  padding: 0px 16px 0px 16px;
  width: 230px;
  height: 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: rgb(255, 255, 255);
}

.card {
  display: flex;
  align-items: center;
}

.card:hover > p {
  color: rgb(0, 113, 228);
}

.card:hover > img {
  filter: invert(41%) sepia(86%) saturate(5961%) hue-rotate(214deg)
    brightness(97%) contrast(98%);
}

.card > p {
  padding-left: 8px;
}

.header-open {
  display: none;
}

.headers {
  border-radius: 0 0 24px 24px;
}

// @media (width < 1560px) {
//   .comp-header {
//     display: none;
//   }
//   .tablet-header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border-radius: 0 0 24px 24px;
//   }
//   input[type="search"] {
//     background-image: url("../../../assets/header/search-icon-black.svg");
//     border: none;
//     margin: 0;
//   }
//   .header-open {
//     display: flex;
//     flex-direction: column;
//     padding: 10px 140px 10px 140px;
//     border-radius: 0px 0px 24px 24px;
//     background-color: white;
//     position: absolute;
//     width: 100%;
//   }
//   p.a {
//     margin-bottom: 10px;
//   }
//   .open-links {
//     display: flex;
//     flex-direction: column;
//   }
//   .promotion {
//     margin-right: 24px;
//   }
//   .links {
//     margin: 5px 0 15px 0;
//   }
//   .links > a {
//     margin-left: 0;
//   }
//   .header-part {
//     height: fit-content;
//   }
//   .open-header-link {
//     margin-left: 10px;
//   }
// }

// @media (width < 1280px) {
//   .tablet-header,
//   .header-open {
//     padding: 0 20px 0 20px;
//   }
// }

// @media (width < 890px) {
//   .tel-number {
//     display: none;
//   }
//   .tel-icon {
//     display: flex;
//   }
// }

// @media (width < 525px) {
//   .header-open {
//     height: 380px;
//   }
//   .links {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     margin: 0;
//   }
//   p.a {
//     margin: 8px 0 16px 0;
//   }
//   .links > a {
//     margin: 8px 0 8px 0;
//   }
//   .whatsapp {
//     margin-left: 0;
//   }
// }
