<section class="bg">
  <div class="distribution">
    <img
      src="../../../assets/main-page/distribution_image.svg"
      alt="distribution_image"
    />
    <div class="text">
      <div class="text__card">
        <h3 class="normal">Подписка на рассылку акций!</h3>
        <h6 class="gray">
          Подпишитесь на рассылку, чтобы узнавать о всех акциях первым
        </h6>
      </div>
      <form class="main-form">
        <h3 class="form-text">Скидка 10%</h3>
        <p>на первую покупку за подписку</p>
        <div class="form-info">
          <input
            type="tel"
            inputmode="numeric"
            pattern="\+7\d{10}"
            placeholder="+ 7"
          />
          <button class="gray">подписаться</button>
        </div>
      </form>
      <form class="tablet-form">
        <div class="gradient">
          <p class="form-text">Скидка 10%</p>
          <sup>на первую покупку за подписку</sup>
        </div>
        <div class="form-info">
          <input
            type="tel"
            inputmode="numeric"
            pattern="\+7\d{10}"
            placeholder="+ 7"
          />
          <button class="gray">подписаться</button>
        </div>
      </form>
    </div>
  </div>
</section>
