<div class="basket-success">
    <h4 class="normal">Заказ принят в работу</h4>
    <sup>Наш менеджер перезвонит вам через 5 минут.<br></sup>
    <sup>Либо вы можете связаться с нами самостоятельно</sup>
    <div class="callbackandwrite">
        <h6 class="ben-card-h6">+7 812 561 96 62</h6>
        <img src="../../../assets/footer/whatsapp.svg" alt="whatsapp" />
        <img src="../../../assets/footer/telegram.svg" alt="telegram" />
        <img src="../../../assets/footer/vk.svg" alt="vk" />
    </div>
    <button class="invert">продолжить покупки</button>
</div>