<section class="new-models">
  <div class="new-models__text">
    <h4 class="normal">Новые модели Айфонов по выгодным ценам</h4>
    <p class="text">
      Для тех, кто хочет приобрести новый телефон магазин Istoreapple.ru
      предлагает:
    </p>
    <br />
    <p class="new-iphone-text text">
      Низкие цены на все виды устройств, недорогие аксессуары; <br />
      Оригинальные подарки бренда; <br />
      Новая линейка смартфонов и проверенные старые модели; <br />
      Лаконичный дизайн, большой выбор цветов и оттенков; <br />
      Все товары в каталоге есть в наличии и доступны для покупки в кредит и
      рассрочку; <br />
      Быстрая доставка по Санкт-Петербургу и области; <br />
      Гарантия на все модели телефонов; <br />
      Все способы оплаты! <br />
      Товары, представленные на официальном сайте Istoreapple.ru,
      сертифицированы. Мы занимаемся продажей айфонов с 2013 года. Вы всегда
      можете прочитать отзывы о покупке наших клиентов, позвонить в магазин и
      получить консультацию по любой модели Apple.
    </p>
  </div>
  <div class="bg">
    <div class="info">
      <img
        class="img__phone"
        src="../../../assets/main-page/iphone_purple.svg"
        alt="iphone_purple"
        width="246px"
        height="619px"
      />
      <div class="info-text">
        <h5>iPhone 14 Pro Max</h5>
        <h6>по лучшей цене в Москве</h6>
        <button>подробнее</button>
      </div>
    </div>
  </div>
</section>
