<div class="price-lower">
  <h4 class="normal">Нашли дешевле?</h4>
  <sup>Пришлите ссылку на этот товар в другом магазине и мы сделаем вам
    скидку</sup>
  <form [formGroup]="priceLowerForm" (ngSubmit)="onSubmit()">
    <input formControlName="link" type="text" placeholder="ссылка на этот товар в другом магазине" class="top-input" />
    <div class="two-inputs">
      <input formControlName="price" type="number" placeholder="цена в другом магазине" />
      <input formControlName="telephone" type="tel" placeholder="+7" />
    </div>
    <button>получить скидку</button>
  </form>
</div>