<div class="delivery-page">
  <div class="top__block">
    <div class="top__block-card">
      <img src="../../../assets/delivery-page/delivery-boy-on-scooter.svg" alt="delivery-boy-on-scooter" />
      <div class="top__block-card-text">
        <h4 class="white">Бесплатная доставка за 3 часа</h4>
        <p class="card-white">
          в пределах МКАД при заказе от 30 000 ₽ за пределами МКАД или при
          меньшей сумме стоимость доставки 350₽
        </p>
      </div>
    </div>
    <div class="top__block-card">
      <img src="../../../assets/delivery-page/drone-flying-with-package.svg" alt="drone-flying-with-package" />
      <div class="top__block-card-text">
        <h4 class="white">Доставка по России</h4>
        <p class="card-white">
          3-5 дней в зависимости от города через СДЭК или Почту России. Точная
          стоимость доставки известна при оформлении заказа
        </p>
      </div>
    </div>
  </div>

  <div class="delivery__block">
    <h4 class="normal">Пункты самовывоза</h4>
    <div class="addresses">
      <div class="address">
        <p>ул Барклая 8</p>
        <div class="metro__time">
          <img src="../../../assets/product-page/get-gadget/human.svg" alt="human" />
          <sup>5 минут от</sup>
          <img src="../../../assets/product-page/get-gadget/metro.svg" alt="metro" />
          <sup>Багратионовская</sup>
        </div>
        <div class="tablet-ver">
          <p>ул Барклая 8</p>
          <div class="metro__time">
            <img src="../../../assets/product-page/get-gadget/human.svg" alt="human" />
            <sup>5 минут от</sup>
            <img src="../../../assets/product-page/get-gadget/metro.svg" alt="metro" />
            <sup>Багратионовская</sup>
          </div>
        </div>
        <div class="get__time">
          <img src="../../../assets/delivery-page/bx_time.svg" alt="bx_time" />
          <sup>ежедневно 10:00 — 22:00</sup>
        </div>
      </div>
      <div class="address">
        <p>ул Барклая 8</p>
        <div class="metro__time">
          <img src="../../../assets/product-page/get-gadget/human.svg" alt="human" />
          <sup>5 минут от</sup>
          <img src="../../../assets/product-page/get-gadget/metro.svg" alt="metro" />
          <sup>Багратионовская</sup>
        </div>
        <div class="tablet-ver">
          <p>ул Барклая 8</p>
          <div class="metro__time">
            <img src="../../../assets/product-page/get-gadget/human.svg" alt="human" />
            <sup>5 минут от</sup>
            <img src="../../../assets/product-page/get-gadget/metro.svg" alt="metro" />
            <sup>Багратионовская</sup>
          </div>
        </div>
        <div class="get__time">
          <img src="../../../assets/delivery-page/bx_time.svg" alt="bx_time" />
          <sup>ежедневно 10:00 — 22:00</sup>
        </div>
      </div>
    </div>
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A601c289958fff29ef57c3e8f11e4f41f19c35b1541722d0e83ee7a10c7a17cec&amp;source=constructor"
      frameborder="0" class="map"></iframe>
  </div>

  <div class="delivery__block-2">
    <div class="delivery__block-2-main">
      <img src="../../../assets/delivery-page/delivery-view-human.svg" alt="delivery-view-human"
        class="image-delivery-view-human" />
      <div class="delivery__block-2-text">
        <h3 class="number">Доставка, которая радует</h3>
        <sup class="blue">согласуем с вами удобное время</sup>
        <sup class="blue">курьер позвонит за час до доставки</sup>
        <sup class="blue">любые ваши проверки техники перед оплатой</sup>
      </div>
    </div>
    <div class="actual">
      <sup class="blue">актуально в Москве</sup>
    </div>
  </div>
  <div class="delivery__block-2-phone">
    <div class="delivery__block-2-phone-text">
      <h3 class="number">Доставка, которая радует</h3>
      <sup class="blue">согласуем с вами удобное время</sup>
      <sup class="blue">курьер позвонит за час до доставки</sup>
      <sup class="blue">любые ваши проверки техники перед оплатой</sup>
    </div>
    <div class="delivery__block-2-phone-bottom-text">
      <div class="actual">
        <sup class="blue">актуально в Москве</sup>
      </div>
      <img src="../../../assets/delivery-page/delivery-view-human-phone.svg" alt="delivery-view-human"
        class="phone-image-delivery-view-human" />
    </div>
  </div>

  <div class="pay-methods__block">
    <h4 class="normal">Оплачивайте как удобно</h4>
    <div class="pay-methods__block-grid-3">
      <div class="pay-methods__block-grid-item">
        <div class="grid-item-title">
          <img src="../../../assets/delivery-page/pay-methods/banknotes-and-coins.svg" alt="banknotes-and-coins" />
          <p class="bold">Оплата наличными</p>
        </div>
        <sup>Оплатить товар наличными вы можете как в магазине, так и при доставке
          на дом – у наших курьеров всегда есть сдача. Перед тем, как
          расплатиться, у вас есть возможность удостовериться в надлежащем
          качестве устройства, распаковав коробку.</sup>
      </div>
      <div class="pay-methods__block-grid-item">
        <div class="grid-item-title">
          <img src="../../../assets/delivery-page/pay-methods/debit-card.svg" alt="debit-card" />
          <p class="bold">Банковской картой в магазине/курьеру</p>
        </div>
        <sup>Неважно, забираете ли вы товар сами из магазина или заказали доставку
          – в любом случае вы можете расплатиться таким способом, ведь у наших
          курьеров всегда есть терминалы.</sup>
      </div>
      <div class="pay-methods__block-grid-item">
        <div class="grid-item-title">
          <img src="../../../assets/delivery-page/pay-methods/buying.svg" alt="buying" />
          <p class="bold">Онлайн оплата +8% комиссия</p>
        </div>
        <sup>Оплата через платежную систему на сайте при помощи банковской карты,
          яндекс деньги, web money и др. Обратите внимание, комиссия зависит от
          способа оплаты.
        </sup>
      </div>
    </div>
    <div class="pay-methods__block-grid-2">
      <div class="pay-methods__block-grid-item">
        <div class="grid-item-title">
          <img src="../../../assets/delivery-page/pay-methods/test-passed.svg" alt="test-passed" />
          <p class="bold">Безналичный расчет</p>
        </div>
        <sup>Мы всегда действуем в интересах покупателей, поэтому предоставляем
          возможность оплатить товар при помощи безналичного расчета. Обратитесь
          к нашим менеджерам по телефону +7 (812) 704-86-97, чтобы получить всю
          необходимую информацию для осуществления оплаты этим способом.
        </sup>
      </div>
      <div class="pay-methods__block-grid-item">
        <div class="grid-item-title">
          <img src="../../../assets/delivery-page/pay-methods/building-with-columns.svg" alt="building-with-columns" />
          <p class="bold">Кредит</p>
        </div>
        <sup>Иногда желание стать владельцем гаджета не совсем совпадает с
          возможностью сразу оплатить всю сумму. Но огорчаться не следует – вы
          можете приобрести любой товар в кредит. Мы сотрудничаем со многими
          банками, поэтому оформление кредита происходит очень быстро и просто.
          Уточнить все моменты для получения кредитных средств вы можете у наших
          менеджеров, позвонив по указанному телефону +7 (812) 704-86-97
        </sup>
      </div>
    </div>
  </div>

  <div class="gadget-delivery__block">
    <div class="gadget-delivery__block-text">
      <h3 class="not-found-text">
        Выбирайте технику, а мы позаботимся о доставке
      </h3>
      <button (click)="scrollToTop()" routerLink="/all-catalog">пойти выбирать</button>
    </div>
    <img src="../../../assets/delivery-page/hand-holding-phone.svg" alt="hand-holding-phone"
      class="image-hand-holding-phone" />
    <img src="../../../assets/delivery-page/phone-hand-holding-phone.svg" alt="phone-hand-holding-phone"
      class="phone-hand-holding-phone" />
  </div>
</div>