<div class="credit-page">
  <div class="top__block">
    <img class="top__block-image" src="../../../assets/credit-page/top-block-woman.svg" alt="top-block-woman" />
    <div class="top__block-text">
      <h4 class="form-text">От 10 000 до 600 000₽</h4>
      <h6>в кредит, за 30 минут без похода в банк</h6>
    </div>
  </div>

  <div class="grid__block">
    <div class="grid__block-small-card accept">
      <div class="small-card__image-text">
        <img src="../../../assets/credit-page/like.svg" alt="like" />
        <h6 class="ben-card-h6">80% заявок одобряют</h6>
      </div>
      <sup>Максимально высокая вероятность одобрения</sup>
    </div>
    <div class="grid__block-small-card fill">
      <div class="small-card__image-text">
        <img src="../../../assets/credit-page/ten.svg" alt="ten" />
        <h6 class="ben-card-h6">10 минут на заполнение</h6>
      </div>
      <sup>1 анкета для всех банков сразу</sup>
    </div>
    <div class="grid__block-small-card pay">
      <div class="small-card__image-text">
        <img src="../../../assets/credit-page/eye.svg" alt="eye" />
        <h6 class="ben-card-h6">Без скрытых платежей</h6>
      </div>
      <sup>плата за рассрочку заранее включена в стоимость товаров </sup>
    </div>
    <div class="grid__block-big-card">
      <div class="grid__block-big-card-fill">
        <img src="../../../assets/credit-page/person.svg" alt="person" />
        <div class="card-fill-text">
          <h6 class="ben-card-h6">
            Выберите из списка товаров понравившийся продукт и заполните анкету
          </h6>
          <button (click)="scrollToTop()" routerLink="/all-catalog">Выбрать продукт</button>
        </div>
      </div>
      <div class="grid__block-big-card-white-container">
        <img src="../../../assets/credit-page/thumb_up.svg" alt="thumb_up" />
        <sup class="normal">Предварительно с вами свяжется сотрудник нашего магазина и ответит на
          все ваши вопросы связанными с покупкой в кредит
        </sup>
      </div>
    </div>
  </div>

  <div class="four-steps__block">
    <h4 class="blue">Получите кредит в 4 шага</h4>
    <div class="four-steps">
      <div class="step">
        <div class="step-number">
          <h3 class="number">1</h3>
        </div>
        <p>Выберите товар и оформите заказ с оплатой в кредит</p>
      </div>
      <div class="step">
        <div class="step-number">
          <h3 class="number">2</h3>
        </div>
        <p>Согласуйте условия кредитования с нашим менеджером</p>
      </div>
      <div class="step">
        <div class="step-number">
          <h3 class="number">3</h3>
        </div>
        <p>Получите решение от банков и выберите лучшие условия</p>
      </div>
      <div class="step">
        <div class="step-number">
          <h3 class="number">4</h3>
        </div>
        <p>Ожидайте доставку вашего заказа (или самовывоз)</p>
      </div>
    </div>
  </div>

  <div class="get-credit__block">
    <div class="get-credit__block-requirements">
      <h4 class="blue">Условия для получения кредита</h4>
      <p class="requirement">Возраст - от 18 до 69 лет</p>
      <p class="requirement">
        Наличие постоянного источника дохода (работа, пенсия)
      </p>
      <p class="requirement">Наличие паспорта гражданина РФ</p>
    </div>
    <div class="get-credit__block-buy-now">
      <div class="postpone">
        <h4 class="normal">Не откладывайте покупки на потом</h4>
        <sup>Купить желаемую технику в кредит на самых выгодных условиях</sup>
        <button (click)="scrollToTop()" routerLink="/all-catalog">Выбрать продукт</button>
      </div>
      <img width="300px" class="postpone-image" src="../../../assets/credit-page/phone.png" alt="phone" />
    </div>
  </div>
</div>