<div class="gadget-page">
  <button class="back__button" (click)="back()">Назад</button>
  <!-- @if (product?.id) { -->
  <div class="gadget__info">
    <h3 class="gadget-title tablet">{{ gadgetService.gadget?.category === 'Смартфоны' || gadgetService.gadget?.category
      ===
      'Компьютеры' || gadgetService.gadget?.category === 'Планшеты' || gadgetService.gadget?.category === 'Часы'
      ?
      gadgetService.gadget?.name + ' '
      +
      gadgetService.gadget?.characteristics[1].value
      + ' ' + gadgetService.gadget?.characteristics[1].unit_type + ' ' + gadgetService.gadget?.color
      :
      gadgetService.gadget?.category === 'Гаджеты' || gadgetService.gadget?.category === 'Аксессуары' ?
      gadgetService.gadget?.name : this.gadgetService.gadget?.category === 'Часы' ? gadgetService.gadget?.name + ' '
      +
      gadgetService.gadget?.color : ''

      }}</h3>
    <div class="images__block">
      <img class="big-image"
        [src]="'https://angular-final-project-backend.onrender.com/' + gadgetService.gadget?.images[0]" alt="image" />
    </div>
    <div class="info__block">
      <h3 class="gadget-title">{{ gadgetService.gadget?.category === 'Смартфоны' || gadgetService.gadget?.category
        ===
        'Компьютеры' || gadgetService.gadget?.category === 'Планшеты'
        ?
        gadgetService.gadget?.name + ' '
        +
        gadgetService.gadget?.characteristics[1].value
        + ' ' + gadgetService.gadget?.characteristics[1].unit_type + ' ' + gadgetService.gadget?.color
        :
        gadgetService.gadget?.category === 'Гаджеты' || gadgetService.gadget?.category === 'Аксессуары' ?
        gadgetService.gadget?.name : this.gadgetService.gadget?.category === 'Часы' ? gadgetService.gadget?.name + ' '
        +
        gadgetService.gadget?.color : ''
        }}</h3>
      <div class="info__blocks">

        <div class="info__block-information">
          <div class="other-phones">
            @for (otherGadgetItem of productFilters.otherGadgets; track $index) {
            <img
              [className]="otherGadgetItem?.id === gadgetService.gadget?.id  ? 'other-phones-item active-phone' : 'other-phones-item'"
              (click)="navigateToOtherGadgets(otherGadgetItem.id)"
              [src]="'https://angular-final-project-backend.onrender.com/' + otherGadgetItem.images[0]"
              alt="other-gadget-image" />
            }
          </div>
          @if (gadgetService.gadget?.category === 'Смартфоны' || gadgetService.gadget?.category
          === 'Компьютеры' || gadgetService.gadget?.category === 'Планшеты' || gadgetService.gadget?.category ===
          'Часы') {
          <div class="memory-capacity">
            <p class="a">Объем памяти</p>
            <div class="memory-capacities-list">
              @for (memoryCapacityItem of productFilters.memoryCapacity; track $index) {
              <div (click)="productFilters.memoryCapacity.length > 1 && changeMemoryCapacity(memoryCapacityItem)"
                [className]="memoryCapacityItem === gadgetService.gadget?.characteristics[1]?.value || memoryCapacityItem === gadgetService.gadget?.characteristics[5]?.value ? 'memory-capacities-item active-memory' : 'memory-capacities-item'">
                {{memoryCapacityItem}}{{gadgetService.gadget?.category === 'Смартфоны' || gadgetService.gadget?.category
                === 'Компьютеры' || gadgetService.gadget?.category === 'Планшеты' ?
                'GB' :gadgetService.gadget?.category === 'Часы' ? 'mm' : ''}}
              </div>
              }
            </div>
          </div>
          }
          <div class="characteristics-block">
            <p class="a">Характеристики</p>
            <div class="characteristics">
              @for (characteristic of gadgetService.gadget?.characteristics; track
              $index) {
              <div class="characteristic">
                <sup>{{ characteristic.characteristic }}</sup>
                <sup class="normal">{{ characteristic.value }}</sup>
              </div>
              }
            </div>
          </div>
        </div>
        <div class="info__block-buy">
          <div class="price__section">
            @if (gadgetService.gadget?.is_available) {
            <p class="available-text">
              <span class="isAvailable available"></span>в наличии
            </p>
            }
            @else {
            <p class="status"><span class="isAvailable unavailable"></span>Ожидается поступление</p>
            }
            <div class="prices-section">
              @if(gadgetService.gadget?.discount_price){
              <p class="price crossed">
                {{ gadgetService.gadget?.price | customCurrency }}
              </p>
              <h4 [class]="
                  gadgetService.gadget?.discount_price
                    ? 'old-price normal'
                    : 'price normal'
                ">
                {{ gadgetService.gadget?.discount_price | customCurrency }}
              </h4>
              }
              @else if (gadgetService.gadget?.price) {
              <h4 [class]="
                  gadgetService.gadget?.price
                    ? 'old-price normal'
                    : 'price normal'
                ">
                {{ gadgetService.gadget?.price | customCurrency }}
              </h4>
              }
            </div>

          </div>
          @if (gadgetService.gadget?.is_available) {
          <button class="add-to-cart" (click)="openModalBasketAdd()">
            Добавить в корзину
          </button>
          }
          @else {
          <button class="invert add-to-cart" (click)="openModalAdmission()">
            Сообщить о поступлении
          </button>

          }
          <p class="a">Купить в 1 клик</p>
          <div class="white__box">
            <sup class="normal">+7 900 654 32 45</sup>
            <button (click)="gadgetService.gadget?.is_available && openModalOneClick()">Купить</button>
          </div>
          <div class="credit">
            <img src="../../../assets/product-page/buy-block/credit.svg" alt="credit" />
            <sup class="blue" (click)="openModalCredit()">Купить в кредит</sup>
          </div>

          <div class="take">
            <img src="../../../assets/product-page/buy-block/bike.svg" alt="bike" />
            <div class="take__text">
              <sup class="normal">Доставим в Санкт-Петербурге</sup>
              <sup class="blue">сегодня до 15:16</sup>
            </div>
          </div>
          <div class="take">
            <img src="../../../assets/product-page/buy-block/shopping-bag.svg" alt="shopping-bag" />
            <div class="take__text">
              <sup class="normal">Самовывоз</sup>
              <sup class="blue">Лиговский проспект 33/35</sup>
            </div>
          </div>
          <div class="take">
            <img src="../../../assets/product-page/buy-block/truck-delivery.svg" alt="truck-delivery" />
            <div class="take__text">
              <sup class="normal">Доставим по России</sup>
              <sup class="blue">до 22.12.2022</sup>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="characteristics-block-mobile">
    <p class="a">Характеристики</p>
    <div class="characteristics-mobile">
      @for (characteristic of gadgetService.gadget?.characteristics; track
      $index) {
      <div class="characteristic-mobile">
        <sup>{{ characteristic.characteristic }}</sup>
        <sup class="normal">{{ characteristic.value }}</sup>
      </div>
      }
    </div>
  </div>

  <div class="get__gadget__back">
    <div class="get__gadget">
      <h6 class="ben-card-h6">Способы получения</h6>
      <div class="get__gadget-methods">
        <div class="method">
          <p class="method-title">Курьером в Москве</p>
          <sup class="blue">сегодня до 20:34</sup>
          <sup>
            или в другой удобный вам день бесплатно в пределах МКАД при заказе
            от 30000₽ или 300₽ если сумма заказа меньше</sup>
        </div>
        <div class="method">
          <p class="method-title">Самовывоз</p>
          <div class="method__address">
            <p>ул Барклая 8</p>
            <sup class="blue">сегодня до 22:00 </sup>
            <sup>или в другой удобный вам день</sup>
            <div class="time">
              <img src="../../../assets/product-page/get-gadget/human.svg" alt="human" />
              <sup>5 минут от</sup>
              <img src="../../../assets/product-page/get-gadget/metro.svg" alt="metro" />
              <sup>Багратионовская</sup>
            </div>
          </div>
        </div>
        <div class="method">
          <p class="method-title">Доставка по России</p>
          <sup>От 3 до 5 дней в зависимости от вашего города. Доставляем через
            СДЭК или Почту России. Точная стоимость доставки будет известна при
            оформлении заказа</sup>
        </div>
      </div>
    </div>
  </div>
  <!-- } -->

  <div class="questions__back">
    <div class="questions">
      <div class="question">
        <h6 class="ben-card-h6">Телефоны новые или восстановленные?</h6>
        <sup>Все телефоны в istoreapple.ru полностью оригинальные, с полной
          стандартной комплектацией.</sup>
      </div>
      <div class="question">
        <h6 class="ben-card-h6">Почему у вас такие низкие цены?</h6>
        <sup>Мы продаем американские и европейские смартфоны. На них цена на
          15-20% дешевле, чем на смартфоны, выпущенные для Российского рынка.
          Для пользователя никакой разницы между Американскими и Российскими
          моделями нет. При желании, у нас есть и ростест модели, но цена на них
          будет выше.</sup>
      </div>
      <div class="question">
        <h6 class="ben-card-h6">Могу ли я проверить устройство до оплаты?</h6>
        <sup>Конечно! Мы гарантируем вам качество. Вы можете выполнить любые
          проверки техники перед оплатой</sup>
      </div>
      <div class="question">
        <h6 class="ben-card-h6">Какой срок гарантии?</h6>
        <sup>На всю технику, представленную у нас на сайте, мы предоставляем
          гарантию 365 дней. Обмен и возврат возможен в течение 14 дней.</sup>
      </div>
    </div>
  </div>

  <div class="promo">
    <div class="promo__card">
      <div class="promo__card-text">
        <img src="../../../assets/product-page/promo/original.svg" alt="original" />
        <sup class="product-promo">Только оригинальная продукция</sup>
      </div>
    </div>
    <div class="promo__card">
      <div class="promo__card-text">
        <img src="../../../assets/product-page/promo/delivery.svg" alt="delivery" />
        <sup class="product-promo">Доставка за 2 часа</sup>
      </div>
      <sup class="product-promo-small">Быстро и бесплатно доставляем все заказы по Москве</sup>
    </div>
    <div class="promo__card">
      <div class="promo__card-text">
        <img src="../../../assets/product-page/promo/pay.svg" alt="pay" />
        <sup class="product-promo">Удобная оплата</sup>
      </div>
      <sup class="product-promo-small">Все виды наличного и безналичного расчета</sup>
    </div>
    <div class="promo__card">
      <div class="promo__card-text">
        <img src="../../../assets/product-page/promo/mansion.svg" alt="mansion" />
        <sup class="product-promo">Кредит</sup>
      </div>
      <sup class="product-promo-small">Выгодные кредитные предложения от самых популярных банков</sup>
    </div>
    <div class="promo__card">
      <div class="promo__card-text">
        <img src="../../../assets/product-page/promo/shield.svg" alt="shield" />
        <sup class="product-promo">Гарантия</sup>
      </div>
      <sup class="product-promo-small">Предоставляем целый год сервисного обслуживания</sup>
    </div>
  </div>

  <div class="buy__ears">
    <div class="buy__ears-top-block">
      <img src="../../../assets/product-page/nothing-ear/top-ears.svg" alt="top-ears" />
      <div class="buy__ears-top-block-text">
        <h3 class="not-found-text">Купить Nothing Ear(1)</h3>
        <h6 class="product-ear">в наличии в Санкт-Петербурге</h6>
      </div>
    </div>
    <div class="buy__ears-grid">
      <div class="buy__ears-grid-item">
        <img src="../../../assets/product-page/nothing-ear/open-ears.svg" alt="open-ears" />
      </div>
      <div class="buy__ears-grid-item">
        <h4 class="normal">Подзаголовок</h4>
        <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
          toughness. Advanced vibration motors make touch responses life-like.
          The symmetrical bezels and aluminium frame adds elegance, lightness
          and durability.</sup>
      </div>
      <div class="buy__ears-grid-item">
        <h4 class="normal">Текст про OS</h4>
        <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
          toughness. Advanced vibration motors make touch responses life-like.
          The symmetrical bezels and aluminium frame adds elegance, lightness
          and durability.</sup>
      </div>
      <div class="buy__ears-grid-item">
        <img src="../../../assets/product-page/nothing-ear/open-ears-angle.svg" alt="open-ears-angle" />
      </div>
      <div class="buy__ears-grid-item">
        <img src="../../../assets/product-page/nothing-ear/black-and-white-ears.svg" alt="black-and-white-ears" />
      </div>

      <div class="buy__ears-grid-item">
        <div class="buy__ears-grid-item">
          <h4 class="normal">Подзаголовок</h4>
          <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
            toughness. Advanced vibration motors make touch responses life-like.
            The symmetrical bezels and aluminium frame adds elegance, lightness
            and durability.</sup>
        </div>
      </div>
      <div class="buy__ears-grid-item">
        <h4 class="normal">Текст про OS</h4>
        <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
          toughness. Advanced vibration motors make touch responses life-like.
          The symmetrical bezels and aluminium frame adds elegance, lightness
          and durability.</sup>
      </div>
      <div class="buy__ears-grid-item">
        <img src="../../../assets/product-page/nothing-ear/ears-and-phone.svg" alt="ears-and-phone" />
      </div>
      <div class="buy__ears-grid-item">
        <img src="../../../assets/product-page/nothing-ear/big-angle-ears.svg" alt="big-angle-ears" />
      </div>
      <div class="buy__ears-grid-item">
        <h4 class="normal">Подзаголовок</h4>
        <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
          toughness. Advanced vibration motors make touch responses life-like.
          The symmetrical bezels and aluminium frame adds elegance, lightness
          and durability.</sup>
      </div>
    </div>
    <div class="buy__ears-flex">
      <img src="../../../assets/product-page/nothing-ear/open-ears.svg" alt="open-ears" class="buy__ears-flex-image" />
      <h4 class="normal">Подзаголовок</h4>
      <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
        toughness. Advanced vibration motors make touch responses life-like. The
        symmetrical bezels and aluminium frame adds elegance, lightness and
        durability.</sup>
      <img src="../../../assets/product-page/nothing-ear/open-ears-angle.svg" alt="open-ears-angle"
        class="buy__ears-flex-image" />
      <h4 class="normal">Подзаголовок</h4>
      <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
        toughness. Advanced vibration motors make touch responses life-like. The
        symmetrical bezels and aluminium frame adds elegance, lightness and
        durability.</sup>
      <img src="../../../assets/product-page/nothing-ear/black-and-white-ears.svg" alt="black-and-white-ears"
        class="buy__ears-flex-image" />

      <h4 class="normal">Подзаголовок</h4>
      <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
        toughness. Advanced vibration motors make touch responses life-like. The
        symmetrical bezels and aluminium frame adds elegance, lightness and
        durability.</sup>
      <img src="../../../assets/product-page/nothing-ear/ears-and-phone.svg" alt="ears-and-phone"
        class="buy__ears-flex-image" />
      <h4 class="normal">Подзаголовок</h4>
      <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
        toughness. Advanced vibration motors make touch responses life-like. The
        symmetrical bezels and aluminium frame adds elegance, lightness and
        durability.</sup>

      <img src="../../../assets/product-page/nothing-ear/big-angle-ears.svg" alt="big-angle-ears"
        class="buy__ears-flex-image" />

      <h4 class="normal">Подзаголовок</h4>
      <sup>Design that goes beyond the surface. Dual-side Gorilla® Glass gives
        toughness. Advanced vibration motors make touch responses life-like. The
        symmetrical bezels and aluminium frame adds elegance, lightness and
        durability.</sup>
    </div>
  </div>

  <div class="buy__gadget-tablet">
    <img [src]="'https://angular-final-project-backend.onrender.com/' + gadgetService.gadget?.images[0]"
      alt="gadget-image" />
    <h3 class="not-found-text">{{ gadgetService.gadget?.name }}</h3>
    <h6 class="normal">Уже почти ваш</h6>
    <button>выбрать модель</button>
  </div>

  <watched-gadgets type="Gadget"></watched-gadgets>
</div>