.tab-bar {
  display: none;
}

@media (width < 770px) {
  .tab-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    padding: 12px 24px 5px 24px;
    box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);
    width: 100%;
  }
  .tab-bar-item {
    display: flex;
  }
  .tab-bar-item > img {
    margin-right: 8px;
  }
}
@media (width < 575px) {
  .tab-bar-item {
    flex-direction: column;
  }
  .tab-bar-item > img {
    width: 20px;
    height: 20px;
    align-self: center;
  }
  .tab-bar-item > p {
    font-size: 13px;
  }
}
