<div class="discount-products">
  <div class="cards">
    <div class="card">
      <img src="../../../assets/all-products/apple-logo.svg" alt="apple-logo" class="logo" />
      <img src="../../../assets/all-products/apple-logo-mobile.svg" alt="apple-logo-mobile" class="tablet-logo" />
      <img src="../../../assets/all-products/apple-logo-small.svg" alt="apple-logo-small" class="mobile-logo" />
      <p class="card-white">
        Только оригинальная продукция Apple с гарантией и бесплатной доставкой
      </p>
      <sup class="card-white-tablet blue">Только оригинальная продукция Apple с гарантией и бесплатной
        доставкой</sup>
    </div>
    <div class="card">
      <img src="../../../assets/all-products/help.svg" alt="help" class="logo" />
      <img src="../../../assets/all-products/help-mobile.svg" alt="help-mobile" class="tablet-logo" />
      <div class="mobile">
        <img src="../../../assets/all-products/help-small.svg" alt="help-small" class="mobile-logo" />
        <sup class="blue">Мы работаем с 10:00 до 22:00</sup>
      </div>
      <div class="card__text">
        <p class="card-white ">Мы работаем с 10:00 до 22:00</p>
        <sup class="card-white">В это время доступна доставка, самовывоз и клиентский отдел. Создать
          заказ на сайте можно в любое время суток</sup>
      </div>
      <div class="card__text-tablet">
        <sup class="blue copy">Мы работаем с 10:00 до 22:00</sup>
        <sup class="product-promo-small">В это время доступна доставка, самовывоз и клиентский отдел. Создать
          заказ на сайте можно в любое время суток</sup>
      </div>
    </div>
  </div>
  <app-gadget-list [gadgetList]="discountProducts" />
</div>