@import "./../../../variables.scss";

.pag {
    font-weight: 400;
    font-size: 24px;
    color: $accent-text-color;

    &:hover {
        cursor: pointer;
    }
}

.active-pag {
    color: $bg-color;
}

.not-active {
    color: $accent-list;

    &:hover {
        cursor: default;
    }
}

.arrow-pagination {
    width: 24px;
    height: 24px;

    &:hover {
        cursor: pointer;
    }

    &[aria-disabled=true] {
        &:hover {
            cursor: not-allowed;
        }
    }
}

.arrow-pagination-reverse {
    transform: rotateY(180deg);
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin: 0 auto;
}