<div class="night-application-send">
    <img src="../../../assets/modal/night-application-send/night-application-send-image.svg"
        alt="night-application-send-image">
    <div class="content">
        <div class="text">
            <h3 class="form-text">Ваш заказ создан!</h3>
            <sup>но все менеджеры уже спят</sup>
        </div>

        <sup>Мы позвоним вам, чтобы подтвердить заказ в 9 часов утра по Москве</sup>

        <button (click)="closeAll()">продолжить покупки</button>
    </div>
</div>