.tab-bar {
    display: none;
    position: fixed;

    @media screen and (max-width: 1201px) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-between;
        padding: 12px 24px 5px 24px;
        z-index: 1001;

        .tab-bar-item {
            display: flex;
            align-items: center;

            >img {
                width: 30px;
                height: 30px;
                margin-right: 8px;
            }
        }
    }

    @media (max-width: 575px) {
        .tab-bar-item {
            flex-direction: column;
            align-items: center;

            >img {
                width: 20px;
                height: 20px;
                margin-right: 0;
            }

            >p {
                font-size: 13px;
            }
        }
    }
}

mat-nav-list {
    display: flex;
    flex-direction: column;
}



.close-cross {
    align-self: flex-end;
}

.catalog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.catalog-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 12px 0 12px 0;
}

.empty-basket {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 769px) {
        text-align: center;
    }

    >h4 {
        margin: 24px 0 10px 0;

        @media (max-width: 769px) {
            font-size: 20px;
        }
    }

    >button {
        margin-top: 10px;
    }

    .watched-gadgets {
        margin-top: 40px;
    }
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.basket__content {
    display: flex;
    gap: 30px;

    @media (max-width: 769px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.basket__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 370px;
    height: 400px;
    overflow-y: scroll;

    @media (max-width: 769px) {
        align-items: center;
        overflow: hidden;
        height: auto;
        width: 100%;
    }
}

.basket__list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 340px;
    height: 100px;
    border-radius: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);

    .phone {
        width: 64px;
        height: 64px;
    }

    @media (max-width: 769px) {
        display: none;
    }
}

.basket__list-item-content {
    margin-left: 10px;

    >sup {
        display: flex;
        max-width: 180px;
        height: 30px;
        overflow-x: scroll;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.basket__list-item-mobile {
    display: none;

    @media (max-width: 769px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 10px;
        width: 340px;
        height: 120px;
        border-radius: 16px;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
        background: rgb(255, 255, 255);

        .phone {
            width: 64px;
            height: 64px;
        }

        .basket__list-item-mobile-top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            gap: 5px;

            >sup {
                display: flex;
                align-self: center;
                width: 200px;
                height: 30px;
                overflow-x: scroll;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        @media (max-width: 376px) {
            width: 100%;
        }
    }
}



.prices__count {
    display: flex;
    gap: 10px;
}

.prices {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    width: fit-content;
}

.crossed {
    text-decoration: line-through;
}

.basket-item-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px;
    gap: 10px;
    border-radius: 8px;
    background: rgb(250, 250, 250);

    >sup {
        border-radius: 8px;
        background: rgb(255, 255, 255);
        padding: 3px 5px 3px 5px;
    }
}

.basket-item-count-button {
    width: fit-content;
    height: fit-content;
    padding: 0;
    background: none;
    color: rgb(135, 135, 135);
}

.basket__info {
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 400px;
    padding-right: 10px;
    overflow-y: scroll;
    gap: 25px;

    @media (max-width:769px) {
        width: 100%;
    }
}

.basket__info-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.basket__info-top-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cross {
    width: 16px;
    height: 16px;
    align-self: flex-start;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basket__info-block {
    display: flex;
    flex-direction: column;
    gap: 10px;


    select {
        width: 200px;
        height: 40px;
        border-radius: 8px;
        background: rgb(249, 249, 249);
        font-size: 16px;
        font-weight: 400;
        line-height: -1px;
        letter-spacing: 0%;
    }

    .delivery__types {
        display: flex;
        gap: 20px;
    }

    .delivery__type {
        display: flex;
        gap: 10px;
    }

    input[type='text'],
    input[type='tel'],
    input[type='email'] {
        border: 1px solid rgb(219, 219, 219);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        width: 280px;
        height: 50px;
        color: rgb(135, 135, 135);
        font-size: 16px;
        font-weight: 400;
        line-height: -1px;
        letter-spacing: 0%;
        outline: none;
        padding-left: 16px;
        margin: 5px 0 5px 0;
    }

    .callback {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .callandwrite {
        gap: 10px;
    }

    .callandwrite-icons {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
}

.last {
    margin-top: 15px;
}
