<div class="benefits">
  <h4 class="normal">Наши преимущества</h4>
  <div class="ben-cards">
    <div class="ben-card pink">
      <div class="container">
        <img
          src="../../../assets/main-page/ben-cards/discount.svg"
          alt="discount"
        />
        <div class="ben-card-text">
          <h6 class="ben-card-h6">Акции и подарки</h6>
          <sup
            >Постоянные акции, бонусы и скидки. Покупайте технику Apple по самым
            выгодным ценам</sup
          >
        </div>
      </div>
      <sup class="sup-bottom"
        >Постоянные акции, бонусы и скидки. Покупайте технику Apple по самым
        выгодным ценам</sup
      >
      <button class="button-invert">подробнее</button>
    </div>
    <div class="ben-card purple">
      <div class="container">
        <img
          src="../../../assets/main-page/ben-cards/delivery.svg"
          alt="delivery"
        />
        <div class="ben-card-text">
          <h6 class="ben-card-h6">Доставим за 3 часа</h6>
          <sup
            >Быстрая и бесплатная доставка по Москве. Доставим за 3 часа в день
            заказа. Также доступна быстрая доставка по всей России или
            самовывоз</sup
          >
        </div>
      </div>
      <sup class="sup-bottom"
        >Быстрая и бесплатная доставка по Москве. Доставим за 3 часа в день
        заказа. Также доступна быстрая доставка по всей России или
        самовывоз</sup
      >
      <button class="button-invert">подробнее</button>
    </div>
    <div class="ben-card blue">
      <div class="container">
        <img
          src="../../../assets/main-page/ben-cards/card wallet.svg"
          alt="card"
        />
        <div class="ben-card-text">
          <h6 class="ben-card-h6">Удобные способы оплаты</h6>
          <sup
            >Наличными или картой при получении, оплата на сайте или в
            кредит</sup
          >
        </div>
      </div>
      <sup class="sup-bottom"
        >Наличными или картой при получении, оплата на сайте или в кредит</sup
      >
      <button class="button-invert">подробнее</button>
    </div>
    <div class="ben-card yellow">
      <div class="container">
        <img
          src="../../../assets/main-page/ben-cards/building with columns.svg"
          alt="building"
        />
        <div class="ben-card-text">
          <h6 class="ben-card-h6">Покупка в кредит</h6>
          <sup
            >Получите самое выгодное кредитное предложение от более чем 30
            ведущих банков страны</sup
          >
        </div>
      </div>
      <sup class="sup-bottom"
        >Получите самое выгодное кредитное предложение от более чем 30 ведущих
        банков страны</sup
      >
      <button class="button-invert">подробнее</button>
    </div>
    <div class="ben-card green">
      <div class="container">
        <img
          src="../../../assets/main-page/ben-cards/approval.svg"
          alt="approval"
        />
        <div class="ben-card-text">
          <h6 class="ben-card-h6">Гарантия</h6>
          <sup
            >Все товары, представленные в нашем сайте, имеют гарантию от нашего
            магазина или компании Apple</sup
          >
        </div>
      </div>
      <sup class="sup-bottom"
        >Все товары, представленные в нашем сайте, имеют гарантию от нашего
        магазина или компании Apple</sup
      >
      <button class="button-invert">подробнее</button>
    </div>
  </div>
</div>
