@import "./../../../variables.scss";

label {
    font-size: 16px !important;
    font-weight: 400 !important;
}

.list-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filters {
    display: flex;
    flex-direction: column;
    max-width: 276px;
    width: 100%;
    background-color: $bg-warranty-page;
    padding: 15px;
}

.inputs {
    display: flex;
    flex-direction: row;
    gap: 30px;

    &>.input-range {
        width: 100%;
    }
}

.priceInput {
    width: 100%;
    border: 1px solid $accent-list;
    border-radius: 8px;
    padding: 8px;
}

.filter-title {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px;
    gap: 10px;
    background-color: $title-color;
    border-radius: 8px;

    &>img {
        transition: all 0.25s ease-in-out;
    }

    &.open {
        border-radius: 8px 8px 0 0;

        &>img {
            transform: rotate(180deg);
        }
    }

    p {
        font-weight: 500;
        font-size: 16px;
    }
}

.filter-block {
    border-radius: 0 0 8px 8px;
    background-color: $title-color;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 20px;
}

.checkbox {
    font-size: 16px;
    font-weight: 400;
}

.filters-mobile {
    padding: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 769px) {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}

.filters-button-mobile {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}