.distribution {
  display: flex;
  margin-top: 100px;
  padding: 40px 140px 40px 140px;
  background-color: #f9f9f9;
}
.tablet-form {
  display: none;
}
.distribution > img {
  width: 400px;
  height: auto;
  margin-right: 88px;
}
.main-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  background: linear-gradient(
    95.6deg,
    rgb(247, 53, 93) 0.843%,
    rgb(151, 71, 255) 100.898%
  );
  width: fit-content;
  padding: 30px;
  margin-top: 25px;
}
.main-form > p {
  color: white;
  margin-bottom: 16px;
}
.form-info {
  display: flex;
}
.form-info > input {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  width: 246px;
  height: 56px;
  color: rgb(135, 135, 135);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  outline: none;
}
button.gray {
  background: rgb(231, 231, 231);
  color: rgb(88, 86, 86);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  margin-left: 15px;
}

@media (width < 1560px) {
  .bottom-text > h3 {
    font-size: 40px;
    width: fit-content;
  }

  .distribution > img {
    width: 306px;
    height: auto;
  }
  .main-form {
    display: none;
  }
  .tablet-form {
    display: flex;
    flex-direction: column;
  }
  .gradient {
    background: linear-gradient(
      95.6deg,
      rgb(247, 53, 93) 0.843%,
      rgb(151, 71, 255) 100.898%
    );
    width: fit-content;
    padding: 10px;
    margin-top: 25px;
    border-radius: 16px;
  }
  .gradient > p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .gradient > sup {
    color: rgb(255, 255, 255);
  }
  .form-info {
    margin-top: 16px;
  }
  .form-info > input {
    padding-left: 24px;
  }
}
@media (width < 990px) {
  .distribution > img {
    margin-right: 32px;
  }
  h4.normal {
    padding: 20px;
  }
  sup.new-iphone-text {
    padding: 20px;
  }
}
@media (width < 900px) {
  .distribution {
    padding: 0 20px 0 20px;
    justify-content: center;
  }
  .distribution > img {
   display: none;
  }
  .gradient {
    width: 100%;
  }
  .tablet-form {
    align-items: center;
  }
  .form-info {
    flex-direction: column;
    width: 100%;
  }
  .form-info > input {
    width: 100%;
  }
  button.gray {
    margin: 8px 0 24px 0;
  }
}
@media (width < 560px) {
  .bottom-text {
    padding: 0 5px 0 5px;
  }
  .info > img {
    width: 120px;
    height: 263px;
  }
  h4.normal {
    font-size: 20px;
  }
  sup.new-iphone-text {
    font-size: 16px;
  }
}
@media (width < 495px) {
  .info > img {
    margin: 30% 24px 0 20px;
  }
}
@media (width < 330px) {
  .info-text {
    margin-bottom: 20%;
  }
}
