:root {
  --black-color: #100e0e;
  --primary-color: #0071e4;
  --alter--text-color: rgb(30, 50, 64);
  --gray--text-color: rgb(88, 86, 86);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SF Pro Display", sans-serif;
}
header {
  padding: 0 140px 0 140px;
}
h2 {
  color: var(--alter--text-color);
  font-size: 88px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0%;
}
h3 {
  color: var(--alter--text-color);
  font-size: 48px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0%;
}
h3.form-text {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}
h3.not-found-text {
  color: var(--black-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
}
h3.normal {
  color: var(--black-color);
}
h4 {
  color: var(--alter--text-color);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
}
h4.normal {
  color: var(--black-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
}
h5 {
  color: white;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
}
h6 {
  color: white;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
}
h6.ben-card-h6 {
  color: var(--black-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0%;
}
h6.gray {
  color: var(--gray--text-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
}
a {
  color: var(--black-color);
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
a:hover {
  color: var(--primary-color);
  text-decoration: underline;
  transition: 0.25s;
}
p {
  color: var(--black-color);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
}
p.gray {
  color: rgb(88, 86, 86);
}
p.a {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0%;
}
p.order {
  color: rgb(0, 113, 228);
}
sup {
  color: var(--gray--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
sup.normal {
  color: rgb(16, 14, 14);
}
sup.gray {
  color: rgb(135, 135, 135);
}
li {
  list-style-type: none;
  color: var(--black-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}
button {
  border-radius: 8px;
  border: none;
  background: rgb(0, 113, 228);
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0%;
  padding: 16px 30px 16px 30px;
}
@media (width < 1245px) {
  h2 {
    font-size: 60px;
  }
  h4 {
    font-size: 32px;
  }
  .info-text > h5 {
    font-size: 32px;
  }
  .info-text > h6 {
    font-size: 16px;
  }
  .info-text > button {
    font-size: 16px;
  }
}