@use "@angular/material" as mat;
@import "./variables.scss";

@include mat.core();

$apfel-store-angular-primary: mat.define-palette(mat.$indigo-palette);
$apfel-store-angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$apfel-store-angular-warn: mat.define-palette(mat.$red-palette);

$apfel-store-angular-theme: mat.define-light-theme(
  (
    color: (
      primary: $apfel-store-angular-primary,
      accent: $apfel-store-angular-accent,
      warn: $apfel-store-angular-warn
    ),
    typography: mat.define-typography-config(),
    density: 0
  )
);

@include mat.all-component-themes($apfel-store-angular-theme);

$black-color: #100e0e;
$primary-color: #0071e4;
$alter-text-color: rgb(30, 50, 64);
$gray-text-color: rgb(88, 86, 86);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

h2 {
  font-size: 88px;
  font-weight: 700;
  line-height: 105px;
  letter-spacing: 0;
}

h3 {
  color: $accent-text-color;
  font-size: 48px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0;

  &.form-text {
    color: white;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }

  &.not-found-text {
    color: $text-color;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  }
  &.number {
    color: rgb(0, 113, 228);
    font-weight: 700;
    line-height: 48px;
  }

  &.normal {
    color: $text-color;
  }

  @media screen and (max-width: 375px) {
    &.normal {
      font-size: 32px;
    }
  }
}

h4 {
  color: $accent-text-color;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0;

  &.normal {
    color: $text-color;
    font-weight: 700;
  }
  &.blue {
    color: rgb(0, 113, 228);
    font-weight: 700;
  }
}

h5 {
  color: $title-color;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0;
}

h6 {
  color: $title-color;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0;

  &.ben-card-h6 {
    color: $text-color;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }

  &.gray {
    color: $accent-text-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
  }

  @media screen and (max-width: 375px) {
    &.gray {
      font-size: 16px;
    }
  }
}

a {
  color: $text-color;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;

  &:hover {
    color: $hover-color;
    text-decoration: underline;
    transition: 0.25s;
  }
}

p {
  color: $text-color;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;

  &.gray {
    color: $accent-text-color;
  }

  &.a {
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
  }

  &.order {
    color: $bg-color;
  }
}

sup {
  color: $accent-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;

  &.normal {
    color: $text-color;
  }

  &.gray {
    color: $accent-text-color;
  }
}

li {
  list-style-type: none;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
}

button {
  border-radius: 8px;
  border: none;
  background: $bg-color;
  color: $button-title;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0;
  padding: 16px 30px 16px 30px;
  cursor: pointer;
}

button.invert {
  background-color: transparent;
  color: $bg-color;
  border: 1px solid $bg-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0%;
  padding: 16px 30px 16px 30px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  h2 {
    font-size: 60px;
  }

  h4 {
    font-size: 32px;
  }

  .info-text {
    > h5 {
      font-size: 32px;
    }

    > h6 {
      font-size: 16px;
    }

    > button {
      font-size: 16px;
    }
  }
}

.modal-open {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
