$text-color: #100e0e;
$bg-color: #0071e4;
$hover-color: #0071e4;
$logo-title-color: #1e3240;
$accent-text-color: #585656;
$hover-effect: #6fd91c;
$buy-bg: #6fd91c;
$fire-bg: #fdefbf;
$accent-list: #cccccc;
$button-title: #ffffff;
$title-color: #ffffff;
$bg-scroll: #d0eafc;
$bg-distribution: #f9f9f9;
$bg-distribution-mobile: #ffffff;
$bg-indigo: #9747FF;