$text-color: #100e0e;
$bg-color: #0071e4;
$hover-color: #0071e4;
$logo-title-color: #1E3240;
$accent-text-color: #585656;
$hover-effect: #6FD91C;
$buy-bg: #6FD91C;
$fire-bg: #FDEFBF;
$iphone-title: #FFFFFF

