<div class="all-products">
  <div class="cards">
    <div class="card">
      <img src="../../../assets/all-products/apple-logo.svg" alt="apple-logo" />
      <p class="card-white">
        Только оригинальная продукция Apple с гарантией и бесплатной доставкой
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/all-products/help.svg" alt="help" />
      <div class="card__text">
        <p class="card-white">Мы работаем с 10:00 до 22:00</p>
        <sup class="card-white"
          >В это время доступна доставка, самовывоз и клиентский отдел. Создать
          заказ на сайте можно в любое время суток</sup
        >
      </div>
    </div>
  </div>
  <app-gadget-list></app-gadget-list>
</div>
