.top {
    display: flex;
}
.top__content{
    @media (max-width: 769px) {
        >h4{
            font-size: 18px;
        }
    }
}
.actions {
    display: flex;
    align-items: center;
    margin-top: 24px;
    @media (max-width: 769px) {
        display: none;
        
    }
}
.actions-mobile{
    display: none;
    @media (max-width: 769px) {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 15px 0 15px 0;
    }
}
.actions > button {
    width: 215px;
    height: 56px;
}
.invert {
    margin-left: 8px;
    @media (max-width: 769px) {
        margin: 0;
    }
}
.big_iphone {
    width: 150px;
    height: 160px;
    margin-right: 24px;
    @media (max-width: 769px) {
        width: 50px;
        height: 54px;
    }
}
.help {
    margin-top: 24px;
}
.help__order {
    display: flex;
    align-items: center;
}
.help__order > p {
    margin-left: 8px;
}
.callback {
    margin-left: 40px;
}
.callandwrite {
    display: flex;
    gap: 8px;
    @media (max-width: 769px) {
        >h6{
            font-size: 16px;
        }
    }
}
