<div class="basket-add">
  <div class="top">
    <img class="big_iphone" [src]="image" alt="big_iphone" />
    <div class="top__content">
      <sup>Добавлен в корзину</sup>
      <h4 class="normal">{{ title }}</h4>
      <div class="actions">
        <button (click)="openBasket()">оформить заказ</button>
        <button class="invert" (click)="closeModal()">
          продолжить покупки
        </button>
      </div>
    </div>
  </div>
  <div class="actions-mobile">
    <button (click)="openBasket()">оформить заказ</button>
    <button class="invert" (click)="closeModal()">продолжить покупки</button>
  </div>
  <div class="help">
    <div class="help__order">
      <img src="../../../assets/modal/basket-add/question.svg" alt="question" />
      <p>Нужна помощь с заказом?</p>
    </div>
    <div class="callback">
      <sup>Звоните, пишите мы на связи</sup>
      <div class="callandwrite">
        <h6 class="ben-card-h6">+7 812 561 96 62</h6>
        <img src="../../../assets/footer/whatsapp.svg" alt="whatsapp" />
        <img src="../../../assets/footer/telegram.svg" alt="telegram" />
        <img src="../../../assets/footer/vk.svg" alt="vk" />
      </div>
    </div>
  </div>
</div>
