.modal-window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 16px;
    overflow-x: hidden;
}
.modal-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.actions{
    display: flex;
    justify-content: flex-end;
}