.modal-window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.nigth-modal-window {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
    background: linear-gradient(153.43deg, rgb(14, 17, 20) 12.662%, rgb(16, 41, 68) 98.23%), rgb(255, 255, 255);
}

.modal-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
}