.modal-window {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 30px;
    width: 553px;
}
.modal-content {
    display: flex;
    flex-direction: column;
}
.actions{
    display: flex;
    justify-content: flex-end;
}